.net-dryuf-comp-forum-mvp-SimpleForumPresenter
{
	border:				0px solid;

	.add
	{
	}

	.noComments
	{
	}

	.comments
	{
		.header
		{
			background-color:		darken($background_color, 2%);

			.author
			{
				font-weight:			bold;
			}

			.addTime
			{
			}
		}

		.row
		{
		}
	}
}
